<nav class="navbar bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand mb-2 h1 text-warning">MyMovies</span>
      <a class="navbar-brand text-white-50" href="#">Home</a>
      <div class="input-group search-container">
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn btn-outline-secondary text-white-50" type="button">Movies</button>
        <button class="btn btn-outline-secondary text-white-50" type="button">Series</button>
      </div>
    </div>
  </nav>